{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="main-content p-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1 class="h3 mb-3 font-weight-normal">Mon Profil</h1>
                    <p>Vous êtes connecté en tant que {{ app.user.userIdentifier }}.</p>

                    <a href="{{ path('app_logout') }}" class="btn btn-dark">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
