{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
   <div class="main-content p-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                <h1>Réinitialisez votre mot de passe</h1>

                {{ form_start(requestForm, {'class': 'text-center mx-auto', 'style': 'max-width: 70%'}) }}
                <div class="mb-3">
                    {{ form_row(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                </div>
                <div>
                    <small>
                        Entrez votre adresse e-mail, et nous vous enverrons un
                        lien pour réinitialiser votre mot de passe.
                    </small>
                </div>

                <button class="btn btn-dark btn-lg">Envoyer l'e-mail de réinitialisation du mot de passe</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
