{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}

    <h1> {{product.titre}} </h1>
    <h1> {{product.description}} </h1>
   
    

{% endblock %}
