<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="votre-logo.png" alt="Votre Logo">
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Boutiques</a></li>
        <li><a href="#">À propos de nous</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>

      </ul>
    </div>
  </div>
  <div class="footer-info text-light">
    <p>&copy; 2023 Joaillerie Paoli. Tous droits réservés.</p>

  </div>
</footer>
