<header>

  <!-- logo -->
  <div class="container-fluid mb-2">
      <div class="row align-items-center header-content">
      <div class="col-md-6 d-flex justify-content-start mt-2">
         <div class="search-container-phone">
              <i class="fas fa-search search-icon-phone" id="search-icon-phone"></i>
              <input type="text" id="search-input-phone" class="search-input-phone">
          
         </div>
  
        <a href="#" class="nav-link text-black" id="contact">Contactez-nous &nbsp;</a>
        <a href="#" class="nav-link text-black" id="services">Services</a>
      </div>
      
      

      <div class="col-md-6 d-flex justify-content-end mt-2">
        <!-- Icône pour le profil -->
        <a href="#" class="text-black">
          <i class="fas fa-user" style="margin-right: 10px"></i>
        </a>
        <!-- Icône pour le panier -->
        <a href="#" class="text-black">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
      <div class="col-md-12 text-center mb-2">
        <a href="{{ path('app_accueil')}}">
          <img src="{{ asset('build/images/logo-paoli-bg.png') }}" style="width:20%" alt="logo">
        </a>
      </div>
    </div>
  </div>

  <!-- Navbar avec bordure supérieure et inférieure et marge en bas -->

  <nav class="navbar navbar-expand-lg navbar-light  border-top border-bottom mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav justify-content-center col-md-12">
          <li class="nav-item dropdown">
            <a class="nav-link text-dark" href="#">Joaillerie</a>
             <div class="dropdown-content">
                    <a href="#">Bagues</a>
                    <a href="#">Colliers</a>
                    <a href="#">Bracelets</a>
                    <a href="#">Boucles d'oreilles</a><
             </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-dark" href="#">Mariage</a>
               <div class="dropdown-content">
                    <a href="#">Bagues de Fiançailles</a>
                    <a href="#">Alliances Femme</a>
                    <a href="#">Alliances Homme</a>
                    <a href="#">Bijoux de Mariage</a>
                   
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Unique</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-dark search-border" href="#">La Maison Paoli</a>
          </li>
            <li class="nav-item d-flex flex-column justify-content-center icon-right">
            <!-- Ajout d'une icône de loupe et d'un champ de texte caché -->
            <div class="search-container">
              <i class="fas fa-search search-icon" id="search-icon"></i>
              <input type="text" id="search-input" class="search-input">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    </div>

</header>
