{# templates/emails/signup.html.twig #}
<h1>Welcome {{ email.toName }}!</h1>

<p>
    Votre message est le suivant : {{ message }}
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>

    Nous vous contacterons sous un délais de 48 h

</p>